* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin: 3rem 0 1rem;
}
.heading-description {
  font-size: 1.2rem;
  color: #333;
}
.step1,
.step2,
.step3,
.step4,
.step5,
.step6,
.step7,
.step8,
.step9,
.step10,
.step11 {
  margin: 3rem 0 1.5rem;
}
.step2 {
  margin-bottom: 0;
}
span {
  color: blue;
}
ul,
p {
  list-style: none;
  font-size: 1.1rem;
  color: #333;
  text-align: left;
}
.img1,
.img2,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img12 {
  width: 34rem;
  margin: 1rem;
}
.img2 {
  width: 30rem;
}
.img3 {
  margin: 1rem;
}
.img10,
.img11 {
  width: 18rem;
  margin: 1rem;
}
.card {
  position: relative;
  perspective: 2000px;
  transform-style: preserve-3d;
  transform: translateX(-250px);
  transition: all 0.5s ease-out;
}
.card:hover {
  transform: translateX(0px);
}
.pattern {
  position: absolute;
  height: 214px;
  width: 500px;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease-out;
}

.structure {
  margin: 3rem;
}
.card:hover .pattern {
  transform: rotateY(-60deg);
}
.logo {
  position: absolute;
  height: 54px;
  width: 87px;
  top: 120px;
  left: 200px;
  transform: translateX(-50%);
  transform: translateY(-50%);
  z-index: 2;
  transition: all 0.5s ease-out;
}
.card:hover .logo {
  transform: rotateY(-60deg) translateZ(190px);
}
.overlay {
  position: absolute;
  height: 75px;
  width: 457px;
  top: 15px;
  left: 15px;
  z-index: 3;
  transition: all 0.5s ease-out;
}
.card:hover .overlay {
  transform: rotateY(-60deg) translateZ(350px);
}
.cut {
  position: absolute;
  height: 214px;
  width: 500px;
  top: 0;
  left: 0;
  z-index: 4;
  transition: all 0.5s ease-out;
}
.card:hover .cut {
  transform: rotateY(-60deg) translateZ(580px);
}
.space {
  width: 3rem;
  height: 20rem;
}

footer {
  margin-block: 3em;
}
